services:
  paperless:
    container_name: Paperless-NGX
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped

    depends_on:
      - db
      - redis

    ports:
      - "8777:8000"

    environment:
      # Admin user (created only on first startup)
      PAPERLESS_ADMIN_USER: ${PAPERLESS_ADMIN_USER}
      PAPERLESS_ADMIN_PASSWORD: ${PAPERLESS_ADMIN_PASSWORD}

      # Database
      PAPERLESS_DBHOST: db
      PAPERLESS_DBNAME: ${PAPERLESS_DB_NAME}
      PAPERLESS_DBUSER: ${PAPERLESS_DB_USER}
      PAPERLESS_DBPASS: ${PAPERLESS_DB_PASSWORD}

      # Redis
      PAPERLESS_REDIS: redis://redis:6379

      # General
      PAPERLESS_TIME_ZONE: ${TZ}
      PAPERLESS_OCR_LANGUAGE: deu+eng
      USERMAP_UID: 1000
      USERMAP_GID: 100
      LANG: C.UTF-8

    volumes:
      - ${APPDATA_ROOT}/paperless-ngx/data:/usr/src/paperless/data
      - ${APPDATA_ROOT}/paperless-ngx/media:/usr/src/paperless/media
      - ${APPDATA_ROOT}/paperless-ngx/export:/usr/src/paperless/export
      - ${APPDATA_ROOT}/paperless-ngx/consume:/usr/src/paperless/consume

    networks:
      - paperless_net



  db:
    container_name: Paperless-NGX-DB
    image: postgres:16-alpine
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${PAPERLESS_DB_NAME}
      POSTGRES_USER: ${PAPERLESS_DB_USER}
      POSTGRES_PASSWORD: ${PAPERLESS_DB_PASSWORD}

    volumes:
      - ${APPDATA_ROOT}/paperless-ngx/db:/var/lib/postgresql/data

    networks:
      - paperless_net



  redis:
    container_name: Paperless-NGX-REDIS
    image: redis:7-alpine
    restart: unless-stopped

    volumes:
      - ${APPDATA_ROOT}/paperless-ngx/redis:/data

    networks:
      - paperless_net



networks:
  paperless_net:
    external: true
