services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex

    networks:
      br1:
        ipv4_address: 192.168.1.174

    environment:
      - TZ=${TZ}
      - PUID=${ARR_PUID}
      - PGID=${ARR_PGID}
      - UMASK=${ARR_UMASK}

      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES}
      - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES}

    volumes:
      - ${APPDATA_ROOT}/plex:/config
      - ${MEDIA_MOVIES}:/movies
      - ${MEDIA_TV}:/tv
      - ${MEDIA_MUSIC}:/music
      - /tmp:/transcode

    restart: unless-stopped

networks:
  br1:
    external: true
