version: "3.8"

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex

    networks:
      SchmidtHouse:


    environment:
      - TZ=${TZ}
      - PUID=${ARR_PUID}
      - PGID=${ARR_PGID}
      - UMASK=${ARR_UMASK}

      # NVIDIA GPU
      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES}
      - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES}
      # Optional Plex claim token
      # - PLEX_CLAIM=claim-xxxxxxxxxxxx

    ports:
      # Plex Web UI
      - "32400:32400/tcp"

      # Plex discovery & remote access helpers
      - "1900:1900/udp"
      - "5353:5353/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"

    volumes:
      # Plex config
      - ${APPDATA_ROOT}/plex:/config

      # Media libraries
      - ${MEDIA_MOVIES}:/movies
      - ${MEDIA_TV}:/tv
      - ${MEDIA_MUSIC}:/music

      # Transcode temp (RAM-backed)
      - /tmp:/transcode

    restart: unless-stopped

networks:
  SchmidtHouse:
    external: true
