services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    runtime: nvidia

    networks:
      br1:
        ipv4_address: 192.168.1.175

    environment:
      - TZ=${TZ}
      - PUID=${ARR_PUID}
      - PGID=${ARR_PGID}
      - UMASK=${ARR_UMASK}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video

    volumes:
      - ${APPDATA_ROOT}/plex:/config
      - ${MEDIA_MOVIES}:/movies
      - ${MEDIA_TV}:/tv
      - ${MEDIA_MUSIC}:/music
      - /tmp:/transcode

    restart: unless-stopped

networks:
  br1:
    external: true
