services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped

    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--log.level=INFO"

    ports:
      - "127.0.0.1:18080:8080"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${APPDATA_ROOT}/traefik:/traefik

    networks:
      - SchmidtHouse

networks:
  SchmidtHouse:
    external: true
