version: "3.9"

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped

    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.web.address=:80"

      - "--log.level=INFO"

    ports:
      - "127.0.0.1:8080:8080" # Traefik dashboard (local only)
      - "127.0.0.1:80:80" # Optional local testing

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${APPDATA_ROOT}/traefik:/traefik

    networks:
      - SchmidtHouse

networks:
  SchmidtHouse:
    external: true
