services:
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable-tensorrt
    restart: unless-stopped
    entrypoint: /init

    env_file:
      - /mnt/user/ComputerSyncs/MacBook Backup/Configuration/Github/Docker-Containers/.env

    environment:
      TZ: ${TZ}
      FRIGATE_RTSP_PASSWORD: ${FRIGATE_RTSP_PASSWORD}
      PLUS_API_KEY: ${PLUS_API_KEY}
      NVIDIA_VISIBLE_DEVICES: ${NVIDIA_VISIBLE_DEVICES}
      NVIDIA_DRIVER_CAPABILITIES: ${NVIDIA_DRIVER_CAPABILITIES}
      TOKENIZERS_PARALLELISM: "true"
      TRANSFORMERS_NO_ADVISORY_WARNINGS: "1"

    ports:
      - "8971:8971"
      - "8554:8554"
      - "8555:8555/tcp"
      - "8555:8555/udp"

    volumes:
      - ${FRIGATE_CONFIG_PATH}:/config
      - ${FRIGATE_MEDIA_PATH}:/media/frigate
      - /etc/localtime:/etc/localtime:ro
      - /tmp/cache:/tmp/cache

    devices:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/nvidia-uvm:/dev/nvidia-uvm
      - /dev/nvidia-uvm-tools:/dev/nvidia-uvm-tools

    shm_size: "64mb"

    healthcheck:
      test: ["CMD", "curl", "-fs", "http://localhost:8971"]
      interval: 30s
      timeout: 10s
      retries: 5
