services:

  media-radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: media-radarr
    restart: unless-stopped

    networks:
      - SchmidtHouse

    ports:
      - "7878:7878"

    environment:
      PUID: ${ARR_PUID}
      PGID: ${ARR_PGID}
      TZ: ${TZ}
      UMASK: ${ARR_UMASK}

    volumes:
      - ${APPDATA_ROOT}/radarr:/config
      - ${MEDIA_MOVIES}:/movies
      - ${DOWNLOADS_COMPLETE}:/downloads/complete

    depends_on:
      - media-sabnzbd

    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/127.0.0.1/7878'" ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 90s

  media-sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: media-sonarr
    restart: unless-stopped

    networks:
      - SchmidtHouse

    ports:
      - "8989:8989"

    environment:
      PUID: ${ARR_PUID}
      PGID: ${ARR_PGID}
      TZ: ${TZ}
      UMASK: ${ARR_UMASK}

    volumes:
      - ${APPDATA_ROOT}/sonarr:/config
      - ${MEDIA_TV}:/tv
      - ${DOWNLOADS_COMPLETE}:/downloads/complete

    depends_on:
      - media-sabnzbd

    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/127.0.0.1/8989'" ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 90s

  media-lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: media-lidarr
    restart: unless-stopped

    networks:
      - SchmidtHouse

    ports:
      - "8686:8686"

    environment:
      PUID: ${ARR_PUID}
      PGID: ${ARR_PGID}
      TZ: ${TZ}
      UMASK: ${ARR_UMASK}

    volumes:
      - ${APPDATA_ROOT}/lidarr:/config
      - ${MEDIA_MUSIC}:/music
      - ${DOWNLOADS_COMPLETE}:/downloads/complete

    depends_on:
      - media-sabnzbd

    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/127.0.0.1/8686'" ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 90s

  media-prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: media-prowlarr
    restart: unless-stopped

    networks:
      - SchmidtHouse

    ports:
      - "9696:9696"

    environment:
      PUID: ${ARR_PUID}
      PGID: ${ARR_PGID}
      TZ: ${TZ}
      UMASK: ${ARR_UMASK}

    volumes:
      - ${APPDATA_ROOT}/prowlarr:/config

    depends_on:
      - media-sabnzbd

    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'exec 3<>/dev/tcp/127.0.0.1/9696'" ]
      interval: 30s
      timeout: 5s
      retries: 6
      start_period: 90s

networks:
  br0:
    external: true
    name: br0

  SchmidtHouse:
    external: true
    name: SchmidtHouse
